<html>
<head>
    <meta charset="UTF-8">
    <title>Checkout transparente MercadoPago</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: rgba(237, 242, 247, 1) !important;
        }
    </style>
</head>
<body>
<form action="/process_payment" method="post" id="paymentForm"
      class="w-3/4 bg-white shadow-md rounded px-8 pt-6 pb-8 my-4 mx-auto">

    <h3 class="text-xl text-gray-900 leading-tight mb-4">Valor</h3>
    <div>
        <div class="mb-2">
            <label for="email" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Valor</label>
            <input id="transactionAmount" name="transactionAmount" type="number" value="100"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
        </div>
    </div>

    <h3 class="text-xl text-gray-900 leading-tight mb-4">Detalhe do comprador</h3>
    <div>
        <div class="mb-2">
            <label for="email" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">E-mail</label>
            <input id="email" name="email" type="text" value="test@test.com"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
        </div>
        <div class="mb-2">
            <label for="docType" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Tipo de
                documento</label>
            <select id="docType" name="docType" data-checkout="docType"
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></select>
        </div>
        <div class="mb-2">
            <label for="docNumber" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Número do
                documento</label>
            <input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
        </div>
    </div>
    <h3 class="text-xl text-gray-900 leading-tight mb-4">Detalhes do cartão</h3>
    <div>
        <div class="mb-2">
            <label for="cardholderName" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Titular
                do cartão</label>
            <input id="cardholderName" data-checkout="cardholderName" type="text"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
        </div>
        <div class="mb-2">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Data de vencimento
                <br/>
                <input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                       autocomplete="off"
                       class="w-16 appearance-none inline-block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                <span class="date-separator">/</span>
                <input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                       autocomplete="off"
                       class="w-16 appearance-none inline-block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
            </label>
        </div>
        <div class="mb-2">
            <label for="cardNumber" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Número do
                cartão</label>
            <input type="text" id="cardNumber" data-checkout="cardNumber" autocomplete="off"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
        </div>
        <div class="mb-2">
            <label for="securityCode" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Código
                de segurança</label>
            <input id="securityCode" data-checkout="securityCode" type="text" autocomplete="off"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
        </div>
        <div class="mb-2" id="issuerInput">
            <label for="issuer" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Banco
                emissor</label>
            <select id="issuer" name="issuer" data-checkout="issuer"
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></select>
        </div>
        <div class="mb-2">
            <label for="installments" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Parcelas</label>
            <select id="installments" name="installments"
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></select>
        </div>
        <div>
            <input type="hidden" name="paymentMethodId" id="paymentMethodId"/>
            <input type="hidden" name="description" id="description"/>
            <br>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Pagar
            </button>
            <br>
        </div>
    </div>
</form>
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>

<script>
  window.Mercadopago.setPublishableKey("{{ .MercadoPagoPublicKey }}");
  window.Mercadopago.getIdentificationTypes();

  document.getElementById('cardNumber').addEventListener('change', guessPaymentMethod);

  function guessPaymentMethod(event) {
    let cardnumber = document.getElementById('cardNumber').value;
    if (cardnumber.length >= 6) {
      let bin = cardnumber.substring(0, 6);
      window.Mercadopago.getPaymentMethod({
        'bin': bin
      }, setPaymentMethod);
    }
  };

  function setPaymentMethod(status, response) {
    if (status == 200) {
      let paymentMethod = response[0];
      document.getElementById('paymentMethodId').value = paymentMethod.id;

      if (paymentMethod.additional_info_needed.includes('issuer_id')) {
        getIssuers(paymentMethod.id);
      } else {
        getInstallments(
          paymentMethod.id,
          document.getElementById('transactionAmount').value
        );
      }
    } else {
      alert(`payment method info error: ${response}`);
    }
  }

  function getIssuers(paymentMethodId) {
    window.Mercadopago.getIssuers(
      paymentMethodId,
      setIssuers
    );
  }

  function setIssuers(status, response) {
    if (status == 200) {
      let issuerSelect = document.getElementById('issuer');
      response.forEach(issuer => {
        let opt = document.createElement('option');
        opt.text = issuer.name;
        opt.value = issuer.id;
        issuerSelect.appendChild(opt);
      });

      getInstallments(
        document.getElementById('paymentMethodId').value,
        document.getElementById('transactionAmount').value,
        issuerSelect.value
      );
    } else {
      alert(`issuers method info error: ${response}`);
    }
  }

  function getInstallments(paymentMethodId, transactionAmount, issuerId) {
    window.Mercadopago.getInstallments({
      'payment_method_id': paymentMethodId,
      'amount': parseFloat(transactionAmount),
      'issuer_id': issuerId ? parseInt(issuerId) : undefined
    }, setInstallments);
  }

  function setInstallments(status, response) {
    if (status == 200) {
      document.getElementById('installments').options.length = 0;
      response[0].payer_costs.forEach(payerCost => {
        let opt = document.createElement('option');
        opt.text = payerCost.recommended_message;
        opt.value = payerCost.installments;
        document.getElementById('installments').appendChild(opt);
      });
    } else {
      alert(`installments method info error: ${response}`);
    }
  }

  doSubmit = false;
  document.getElementById('paymentForm').addEventListener('submit', getCardToken);

  function getCardToken(event) {
    event.preventDefault();
    if (!doSubmit) {
      let $form = document.getElementById('paymentForm');
      window.Mercadopago.createToken($form, setCardTokenAndPay);
      return false;
    }
  };

  function setCardTokenAndPay(status, response) {
    if (status == 200 || status == 201) {
      let form = document.getElementById('paymentForm');
      let card = document.createElement('input');
      card.setAttribute('name', 'token');
      card.setAttribute('type', 'hidden');
      card.setAttribute('value', response.id);
      form.appendChild(card);
      doSubmit = true;
      form.submit();
    } else {
      alert('Verify filled data!\n' + JSON.stringify(response, null, 4));
    }
  };
</script>
</body>
</html>
