<html>
<head>
    <meta charset="UTF-8">
    <title>Checkout transparente MercadoPago</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: rgba(237, 242, 247, 1) !important;
        }
    </style>
</head>
<body>
<div class="w-3/4 bg-white shadow-md rounded px-8 pt-6 pb-8 my-4 mx-auto">
    {{ .Error }}
</div>
</body>
</html>
